[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"
jupyter = "*"
notebook = "*"
pandas = "*"
scikit-learn = "*"

[dev-packages]
black = {extras = ["jupyter"], version = "*"}
pylint = "*"
isort = "*"

[requires]
python_version = "3.9"
